*{
    margin: 0px;
    padding: 0px;
}

body{
    box-sizing: border-box;
    background-color: #0b041c;
}

.botao{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.botao__home{
    text-decoration: none;
    pointer-events: auto;
    font-family: "Roboto Slab", serif;
    font-size: 1.5rem;
    color:#f4742c;
    background-color: white;
    border: 3px solid black;
    border-radius: 0.2rem;
    padding: 1%;
}

.principal__conteudo{
    display: flex;
    justify-content: center;
    padding: 8%;
}

.principal__conteudo__item{
    padding: 6%;
    background-color: #156cba;
    border-radius: 10%;
    animation-name: flipobject;
    animation-duration: 10s;
    animation-timing-function: linear;
    transform: rotateX(0deg) rotateY(180deg);
}

@keyframes flipobject{
    to{
        transform: rotateX(15deg) rotateY(180deg);
    }
    5%{
        transform: rotateX(65deg) rotateY(180deg);
    }
    10%{
        transform: rotateX(105deg) rotateY(180deg);
    }
    15%{
        transform: rotateX(145deg) rotateY(180deg);
    }
    20%{
        transform: rotateX(180deg) rotateY(180deg);
    }
    25%{
        transform: rotateX(180deg) rotateY(110deg);
    }
    30%{
        transform: rotateX(180deg) rotateY(70deg);
    }
    35%{
        transform: rotateX(180deg) rotateY(0deg);
    }
    40%{
        transform: rotateX(145deg) rotateY(0deg);
    }
    45%{
        transform: rotateX(105deg) rotateY(0deg);
    }
    50%{
        transform: rotateX(65deg) rotateY(0deg);
    }
    55%{
        transform: rotateX(15deg) rotateY(0deg);
    }
    60%{
        transform: rotateX(0deg) rotateY(0deg);
    }
    65%{
        transform: rotateX(0deg) rotateY(70deg);
    }
    70%{
        transform: rotateX(0deg) rotateY(110deg);
    }
    75%{
        transform: rotateX(0deg) rotateY(180deg);
    }
    from{
        transform: rotateX(10deg) rotateY(180deg);
    }
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9rem;
}

.rodape__titulo{
    color: rgb(255, 255, 255);
}

.rodape__link{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.rodape__link__logo{
    width: 2rem;
}