* {
    margin: 0% 0%;
    padding: 0% 0%;
}
 
   

.caixas {
    width: 100vh;
    height: 100vh;
    display: grid;
    grid-template-columns: 100% 100%;
}

.caixa1{ 
    background-color: rgb(245, 64, 64);
    color: rgb(247, 247, 88);
    width: 100%;
    height: 100%;
}

.caixa2 { 
    background-color:rgb(247, 247, 88);
    color: rgb(245, 64, 64);;
    width: 100%;
    height: 100%;
    
} 

.texto {
    width: 12em;
    border: dotted;
    overflow: visible; /* Exibe o conteúdo de forma vazada, fora da caixa de conteúdo */
  }