*{ 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    margin: 0;
    padding: 0; 
    background-color: #201f1f;
}

.botoes {
    
    border-radius: 4px;
    color: rgb(17, 226, 111);
    padding: 0% 3%;
    margin: 0% 6%;
    gap: 32px;
    text-decoration: none;
    border: solid;
}
.cabecalho {
    background-color:rgb(17, 226, 111); 
    gap: 32px;
    padding: 0% 6%;
    size: 100vh;
}