* {
    margin: 0%;
    padding: 0%;
    background-color: rgb(20, 20, 20);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section {
    margin: 5%;
    display: flex;
    justify-content:center;
    grid-column: 50%;
}

.cabecalho {
     padding: 0% 3% ; 
    background-color:rgb(17, 226, 111); 
    
}

.botoes {
    border: solid;
    border-radius: 4px;
    color: rgb(17, 226, 111);
    padding: 5px 10px;  /* Ajuste o padding para ficar colado ao texto */
    margin: 10px 0;  /* Adiciona espaçamento entre os botões */
    text-decoration: none;
    display: block;  /* Faz os botões ficarem em blocos (um abaixo do outro) */
    text-align: center;
}

.subtitulo { 
    padding: 1% 5%;
    text-align: center;
    color: rgb(17, 226, 111); 
}


