*{ 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    margin: 0;
    padding: 0; 
    background-color: #201f1f;
}

.botoes {
    border: solid;
    border-radius: 4px;
    color: rgb(17, 226, 111);
    padding: 0% 3%;
    margin: 0% 6%;
    text-decoration: none;
    gap: 32px;
   
}

.cabecalho{
    background-color:rgb(17, 226, 111); 
    gap: 32px;
    padding: 0% 6%;
    size: 100vh;
}

.caixa {
    position: absolute;
    display: flex;
    top: 40%;
    left: 40%;
}


.texto{
   font-size: 5em;
   color: #111111; 
}


.texto::before{
    content: 'DESAFIO12';
    position: absolute;
    color: rgb(17, 226, 111); 
    overflow: hidden;
    width: 0%;
    transition: 2s;
    left: 10px; 
}

.texto:hover::before{
    width: 100%;

}

 
