*{
    margin: 0px;
    padding: 0px;
}

body{
    box-sizing: border-box;
    background-color: #044b3b;
}

.botao{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.botao__home{
    text-decoration: none;
    pointer-events: auto;
    font-family: "Roboto Slab", serif;
    font-size: 1.5rem;
    color:#f4742c;
    background-color: white;
    border: 3px solid black;
    border-radius: 0.2rem;
    padding: 1%;
}

.principal__conteudo{
    display: flex;
    justify-content: center;
    padding: 10%;
}

.principal__conteudo__titulo{
    color: #c8edef;
    font-size: 9rem;
    font-weight: 700;
    padding: 2% 0% 9% 0%;
}

.principal__conteudo__titulo span:nth-child(1){
    position: absolute;
    transform: translateX(-200%);
    transition-duration: 2s;
}

.principal__conteudo__titulo:hover span:nth-child(1){
    transform: translate(-50%,-120%) rotate(30deg);
    color: #c8edef00;
    filter: blur(1rem);
}

.principal__conteudo__titulo span:nth-child(2){
    position: absolute;
    transform: translateX(-160%);
    transition-duration: 2s;
    transition-delay: 0.3s;
}

.principal__conteudo__titulo:hover span:nth-child(2){
    transform: translate(100%,-120%) rotate(30deg);
    color: #c8edef00;
    filter: blur(1rem);
}

.principal__conteudo__titulo span:nth-child(3){
    position: absolute;
    transform: translateX(-16%);
    transition-duration: 2s;
    transition-delay: 0.6s;
}

.principal__conteudo__titulo:hover span:nth-child(3){
    transform: translate(100%,-120%) rotate(30deg);
    color: #c8edef00;
    filter: blur(1rem);
}

.principal__conteudo__titulo span:nth-child(4){
    position: absolute;
    transform: translateX(135%);
    transition-duration: 1.8s;
    transition-delay: 0.9s;

}

.principal__conteudo__titulo:hover span:nth-child(4){
    transform: translate(290%,-120%) rotate(30deg);
    color: #c8edef00;
    filter: blur(1rem);
}

.principal__conteudo__titulo span:nth-child(5){
    position: absolute;
    transform: translateX(220%);
    transition-duration: 1.8s;
    transition-delay: 1.1s;
}

.principal__conteudo__titulo:hover span:nth-child(5){
    transform: translate(350%,-120%) rotate(35deg);
    color: #c8edef00;
    filter: blur(1rem);
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9rem;
}

.rodape__titulo{
    color: rgb(255, 255, 255);
}

.rodape__link{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.rodape__link__logo{
    width: 2rem;
}