*{
    margin: 0px;
    padding: 0px;
}

body{
    box-sizing: border-box;
}

.botao{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.botao__home{
    text-decoration: none;
    pointer-events: auto;
    font-family: "Roboto Slab", serif;
    font-size: 1.5rem;
    color:#f4742c;
    background-color: white;
    border: 3px solid black;
    border-radius: 0.2rem;
    padding: 1%;
}

.principal__conteudo{
    display: flex;
    justify-content: center;
    padding: 8%;
}

.principal__conteudo__item{
    padding: 10%;
    background-color: rgb(0, 82, 24);
    box-shadow: inset -2rem 0rem 0rem 0.6rem rgb(20, 155, 61);
    clip-path: polygon(52% 28%, 73% 100%, 50% 78%, 70% 0, 100% 100%, 28% 100%, 0 100%, 20% 46%, 35% 100%);
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9rem;
}

.rodape__titulo{
    color: rgb(0, 0, 0);
}

.rodape__link{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.rodape__link__logo{
    width: 2rem;
}