*{
    margin: 0px;
    padding: 0px;
}

body{
    box-sizing: border-box;
    background-color: rgb(226, 43, 202);
}

.botao{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.botao__home{
    text-decoration: none;
    pointer-events: auto;
    font-family: "Roboto Slab", serif;
    font-size: 1.5rem;
    color:#f4742c;
    background-color: white;
    border: 3px solid black;
    border-radius: 0.2rem;
    padding: 1%;
}

.principal{
    display: flex;
    justify-content: center;
    padding: 8% 15%;
    margin: 0px 400px
}

.principal__conteudo{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    
}

.principal__conteudo__caixa{
    padding: 3.2rem;
    background-color: white;
    border-radius: 0.7rem;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9rem;
}

.rodape__titulo{
    color: white;
}

.rodape__link{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    text-decoration: none;
    color: white;
}

.rodape__link__logo{
    width: 2rem;
}