*{
    margin: 0px;
    padding: 0px;
}

body{
    box-sizing: border-box;
    background-color: #232323;
}

.botao{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.botao__home{
    text-decoration: none;
    pointer-events: auto;
    font-family: "Roboto Slab", serif;
    font-size: 1.5rem;
    color:#f4742c;
    background-color: white;
    border: 3px solid black;
    border-radius: 0.2rem;
    padding: 1%;
}

.principal__conteudo{
    display: flex;
    justify-content: center;
    padding: 14%;
    flex-direction: column;
}

.principal__conteudo__esferas{
    display: flex;
    justify-content: center;
    gap: 2%;
}

.principal__conteudo__esferas__esfera{
    padding: 0.8%;
    border-radius: 50%;
    background-color: white;
}

.principal__conteudo__base{
    position: absolute;
    padding: 0.24% 7.2%;
    background-color: white;
    transform: translate(200%, 220%);
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9rem;
}

.rodape__titulo{
    color: rgb(255, 255, 255);
}

.rodape__link{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.rodape__link__logo{
    width: 2rem;
}