
.botoes {
    border: solid;
    border-radius: 4px;
    color: rgb(17, 226, 111);
    padding: 0% 3%;
    margin: 0% 6%;
    text-decoration: none;
    gap: 32px;
   
}

.cabecalho{
    background-color:rgb(17, 226, 111); 
    gap: 32px;
    padding: 0% 6%;
    
}

.titulo{
    color: #2f3030;
    display: grid;
    justify-content: center;
    
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #2e2e2e;
    position: relative;
    
}
 
.circulo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #36ff72;
    position: absolute;
    display: flex;
    opacity: 1.0;
    align-items: center;
    justify-content: center;
    font-size: larger;
 
}
 
.pulse {
    width: 150px;
    height: 150px;
    background-color: #36ff72;
    border-radius: 50%;
    animation: pulse-animation 3s infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #2e2e2e;
}
 
@keyframes pulse-animation {
    0% {
        transform: scale(1);  
        opacity: 0.5;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }
    75%{
        transform: scale(1.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
 