*{
    margin: 0%;
    padding: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(14, 14, 14);
    min-width: 300px;
    max-width: 1000;
}

.botoes {
    border: solid;
    border-radius: 4px;
    color: rgb(17, 226, 111);
    padding: 0% 3%;
    margin: 0% 6%;
    text-decoration: none;
    gap: 32px;
}

.cabecalho{
    background-color:rgb(17, 226, 111); 
    gap: 32px;
    padding: 0% 6%;
}

.circulo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #36ff72;
    display: flex;
    opacity: 1.0;
    font-size: larger;
    margin: 10% auto;
    align-items: center;
    justify-content: center;
}

.pulse {
    width: 150px;
    height: 150px;
    background-color: #36ff72;
    border-radius: 50%;
    animation: pulse-animation 3s infinite;
    position: absolute;
    color: #2e2e2e;
    
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }
    75% {
        transform: scale(1.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
