@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.botao{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.botao__home{
    text-decoration: none;
    pointer-events: auto;
    font-family: "Roboto Slab", serif;
    font-size: 1.5rem;
    color:#f4742c;
    background-color: transparent;
    border: 3px solid black;
    border-radius: 0.2rem;
    padding: 1%;
}

.conteudo{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}
.conteudo__circulo{
    position: absolute;
    text-align: center;
    padding: 9% 9%;
    border-top: 4px solid black;
    border-radius: 20rem;
    animation-name: rotate;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.conteudo__titulo{
    font-family: "Inter", serif;
    font-weight: 400;
}

@keyframes rotate{
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9rem;
    transform: translateY(16rem);
}

.rodape__titulo{
    color: rgb(0, 0, 0);
}

.rodape__link{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.rodape__link__logo{
    width: 2rem;
}