@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    box-sizing: border-box;
}

.botao{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.botao__home{
    text-decoration: none;
    pointer-events: auto;
    font-family: "Roboto Slab", serif;
    font-size: 1.5rem;
    color:#f4742c;
    background-color: white;
    border: 3px solid black;
    border-radius: 0.2rem;
    padding: 1%;
}

.principal__conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11%;
}

.principal__conteudo__caixa{
    padding: 2% 2%;
    border: 2px solid #2bab80;
    color: #2bab80;
}

.principal__conteudo__caixa::before{
    content: "";
    position: absolute;
    padding: 0.1% 16.6%;
    transform: translate(-22px, -22px);
    border-radius: 4rem;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    background-color: transparent;
    transition-duration: 0.95s;
}

.principal__conteudo__caixa:hover::before{
    padding: 3% 16.6%;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #2bab80;
}

.principal__conteudo__caixa:hover{
    color: white;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.principal__conteudo__caixa__titulo{
    position: relative;
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-size: 2rem;
}

.principal__conteudo__caixa__efeito{
    position: absolute;
    transform: translate(-43px, -22px);
    padding: 0.8% 18%;
    background-color: transparent;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
}

.principal__conteudo__caixa__efeito:hover{
    padding: 3% 18.1%;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: 1s;
    color: white;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9rem;
}

.rodape__titulo{
    color: rgb(0, 0, 0);
}

.rodape__link{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.rodape__link__logo{
    width: 2rem;
}