*{
    margin: 0px;
    padding: 0px;
}

body{
    box-sizing: border-box;
}

.botao{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.botao__home{
    text-decoration: none;
    pointer-events: auto;
    font-family: "Roboto Slab", serif;
    font-size: 1.5rem;
    color:#f4742c;
    background-color: white;
    border: 3px solid black;
    border-radius: 0.2rem;
    padding: 1%;
}

.principal__conteudo{
    display: flex;
    justify-content: center;
    padding: 8%;
    gap: 6%;
}

.principal__conteudo__item{
    padding: 4.4%;
    border-radius: 50%;
}

.principal__conteudo__item img:nth-child(1){
    position: absolute;
    transform: translate(-50%, -48%);
    width: 6%;
}

.principal__conteudo__item img:nth-child(2){
    position: absolute;
    transform: translate(-50%, -48%);
    width: 4.4%;
    z-index: 1;
}

.principal__conteudo__item::before{
    content: "";
    position: absolute;
    padding: 3.6%;
    border: 2px solid #163b54;
    border-radius: 50%;
    transform: translate(-49.2%, -50%);
}

.principal__conteudo__item::after{
    content: "";
    position: absolute;
    padding: 3.6%;
    background-color: transparent;
    transition-duration: 0.4s;
    border-radius: 50%;
    transform: translate(-49.2%, -50%);
    border: 2px solid transparent;
}

.principal__conteudo__item:hover::after{
    padding: 3%;
    background-color: #163b54;
    box-shadow: inset 0rem 0rem 0rem 0.4rem white;
    border: 2px solid #ffffff;
    border-style: dashed;
    animation-name: spin;
    animation-duration: 0.32s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin{
    to{
        transform: translate(-49.2%, -50%) rotate(0deg);

    }
    from{
        transform: translate(-49.2%, -50%) rotate(360deg);
    }
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9rem;
}

.rodape__titulo{
    color: #163b54;
}

.rodape__link{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    text-decoration: none;
    color: #163b54;
}

.rodape__link__logo{
    width: 2rem;
}